@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
	--font-base: 'DM Sans', sans-serif;

	/* Main Colors */
	--primary-background-color: #edf2f8;
	--secondary-accent-color: #313bac;

	/* Text & Gray Scale */
	--text-color: #030303;
	--text-color-secondary: #6b7688;
	--text-color-light: #e4e4e4;

	/* Other utility colors */
	--brown-color: #46364a;
	--white-color: #ffffff;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	text-decoration: none;
	outline: none;
}
